.no-transitions * {
  transition: none !important;
}

body {
  font-family: Baskerville, serif;
  font-size: 23px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
  font-weight: normal;
}

p, li {
  line-height: 1.65;
  margin-bottom: 1em;
  text-align: justify;
}

ul {
  list-style: none;
}

ul li::before {
  content: '→';
  font-size: 0.8em;
  margin: 0 1em 0 0;
  position: relative;
  top: -0.05em;
}

hr {
  border: none;
  margin: 50px 0 30px 0;
  text-align: center;
}

hr::after {
  background: #fff;
  color: #333;
  content: '◆◆◆';
  font-size: 0.5em;
  letter-spacing: 1em;
  padding: 0 0.5em;
  position: relative;
  top: -0.72em;
}

a {
  color: inherit;
  font-family: Baskerville, serif;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.2s color ease-in-out;
}

a:hover {
  color: #D11F61;
}

.hanging-double-quote {
  margin-left: -0.6em;
}

.content {
  margin: 0 10.5rem;
  padding: 3rem 0 0 0;
  position: relative;
}

.after-content {
  margin-bottom: 5rem;
}

.pull-gutter {
  left: -10rem;
  margin-top: 2.7rem;
  position: absolute;
  width: 8.5rem;
}

.toggle-button {
  color: #666;
}

.toggle-button:hover {
  color: #555;
}

.toggle-button--selected {
  color: #B01950;
}

.toggle-button--selected:hover {
  color: #D11F61;
}

.toggle-button--icon {
  font-size: 1.5em;
}

.subdued {
  color: #999;
}

.counter, .dateline {
  font-family: 'Concourse C3';
  -webkit-font-feature-settings: 'kern' 1, 'liga' 1, 'ss10';
  font-feature-settings: 'kern' 1, 'liga' 1, 'ss10';
  text-transform: lowercase;
}

/* Icons */

@font-face {
  font-family: 'octicon-heart';
  src: url('/assets/fonts/octicon-heart.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='octicon-']:before,
[class*=' octicon-']:before {
  font-family: 'octicon-heart' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.octicon-heart:before {
  content: '\e000';
  margin-right: 0.2em;
  position: relative;
  top: 0.3em;
}
